@page
@model Modicom.Raz.Areas_Admin_Pages_ContactUs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContactUs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.PreferredContactMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.PreferredContactMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Consent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Consent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.UserIp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.UserIp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.InsertDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.InsertDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.ReadIt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.ReadIt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ContactUs.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
